body{
  background-color: rgb(103, 11, 11);
  font-family: 'Roboto', sans-serif;
}
header{
  position: relative;
  padding-bottom: 60px;
}

.header-top{
  padding-bottom: 70px;
}
.container{
  margin-right: auto;
  margin-left:  auto;
  max-width: 1300px;
  padding-right: 10px;
  padding-left: 10px; 
}

.logotype{
  width: 168px;
  height: 49px;
  margin-top: 20px;
}
.header-nav{
  position: relative;
}

.header-nav_list{
  list-style: none;
  text-decoration: none;
  display: flex;
  margin-left: 260px;
  position: absolute;
  top: 5px;
}

.nav-links{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  padding-left: 40px;
  transition: all .2s ease-out;
}

.nav-links:hover{
  color: rgb(155, 153, 153);
  text-decoration: none;
}

.basket{
 margin-left: 425px;
 transition: 0.2s;
}

.basket:hover{
  transform: scale(1.2) rotate(5deg);
}
.header-bottom{
  display: flex;
  justify-content: space-between
}

.bottom-text{
  color: #fff;
  margin-top: 30px;
}

.text-headline{
  padding: 0;
  margin: 0;
  font-size: 36px;
  line-height: 120%;
  font-weight: bold;
}

.text-first{
width: 524px;
height: 104px;
font-size: 24px;
font-weight: 100;
}

.bottom-img{
  box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}

.bottom-img:hover{
  box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.55);
}

.features{
  background-color: #4e1212;
  color: #fff;
  display: inline-block;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-size: 20px;
}

.feature-card{
  width: 322px;
  height: 221px;
  left: 25px;
  margin-left: 15px;
}

.feature-img{
  display:block; 
  margin: 0 auto;
}

.stuff{
  display: flex;
  justify-content: space-around;
  margin-bottom: 85px;
}

.products-header{
  font-size: 36px;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 85px;
}
.product img{
  transition: 0.3s;
}
.product img:hover{
  box-shadow:
    2px 2px #fa6400,
    3px 3px #fa6400,
    4px 4px #fa6400,
    5px 5px #fa6400,
    6px 6px #fa6400,
    7px 7px #fa6400,
    8px 8px #fa6400;
  transform: translateX(-7px);
}

.block{
  display: block;
  font-size: 28px;
  color: #fff;
  margin: 0;
  padding: 20px;
  text-align: center;
  background-color: #510B14;
}

.page-footer{
  margin-top: 65px;
  background-color: #000;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer p{
  padding: 0;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
  line-height: 150%;
  font-weight: 200;
  text-align: center;
}